# Ignore these directories and everything in them
_INPUT/
_RESCAN/
_SIMPLE/
counters/
_OLD/
_RAW/
_NON-STANDARD/
BACKUP/
SENSITIVE/

**/_INPUT/
**/_RESCAN/
**/_SIMPLE/
**/counters/

debug/
output/

**/debug/
**/output/

# MacOS hidden file...
**/.DS_Store
.DS_Store
.vscode